#mainScreen {
    -fx-padding: .8em;
}

#addButton {
    -fx-font-size: 4em;
}

#timePane {
    -fx-hgap: 2em;
    -fx-vgap: 1em;
}

#startTime {
}

#currentTime {
    -fx-padding: 0 1em 0 1em;
}

#endTime {
}

#progress {
    -fx-padding: 1em 0 1em 0;
}
